#conteiner {
   width:610px;
   margin:100px auto;
}
#insert {
   width:100%;
   text-align:center;
   margin-top:50px;
   font-size:40px;
   font-weight:bold;
   text-decoration: blink;
}
#alert {
   background: red;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   padding-top:100px;
}
.egg1 {
   -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
   -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
   box-shadow:inset 0px 1px 0px 0px #fce2c1;
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
   background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
   background-color:#ffc477;
   -webkit-border-top-left-radius:15px;
   -moz-border-radius-topleft:15px;
   border-top-left-radius:15px;
   -webkit-border-top-right-radius:15px;
   -moz-border-radius-topright:15px;
   border-top-right-radius:15px;
   -webkit-border-bottom-right-radius:15px;
   -moz-border-radius-bottomright:15px;
   border-bottom-right-radius:15px;
   -webkit-border-bottom-left-radius:15px;
   -moz-border-radius-bottomleft:15px;
   border-bottom-left-radius:15px;
   text-indent:0;
   border:1px solid #eeb44f;
   display:inline-block;
   color:#ffffff;
   font-family:Arial;
   font-size:18px;
   font-weight:bold;
   font-style:normal;
   height:65px;
   line-height:65px;
   width:131px;
   text-decoration:none;
   text-align:center;
   text-shadow:1px 1px 0px #cc9f52;
   margin-right:100px;
}
.egg1:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
   background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
   background-color:#fb9e25;
}
.egg2 {
   -moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
   -webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
   box-shadow:inset 0px 1px 0px 0px #d197fe;
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a53df6), color-stop(1, #7c16cb) );
   background:-moz-linear-gradient( center top, #a53df6 5%, #7c16cb 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a53df6', endColorstr='#7c16cb');
   background-color:#a53df6;
   -webkit-border-top-left-radius:15px;
   -moz-border-radius-topleft:15px;
   border-top-left-radius:15px;
   -webkit-border-top-right-radius:15px;
   -moz-border-radius-topright:15px;
   border-top-right-radius:15px;
   -webkit-border-bottom-right-radius:15px;
   -moz-border-radius-bottomright:15px;
   border-bottom-right-radius:15px;
   -webkit-border-bottom-left-radius:15px;
   -moz-border-radius-bottomleft:15px;
   border-bottom-left-radius:15px;
   text-indent:0;
   border:1px solid #9c33ed;
   display:inline-block;
   color:#ffffff;
   font-family:Arial;
   font-size:18px;
   font-weight:bold;
   font-style:normal;
   height:65px;
   line-height:65px;
   width:131px;
   text-decoration:none;
   text-align:center;
   text-shadow:1px 1px 0px #7d15cd;
   margin-right:100px;
}
.egg2:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7c16cb), color-stop(1, #a53df6) );
   background:-moz-linear-gradient( center top, #7c16cb 5%, #a53df6 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c16cb', endColorstr='#a53df6');
   background-color:#7c16cb;
}
.pelmeni {
   -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
   -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
   box-shadow:inset 0px 1px 0px 0px #c1ed9c;
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
   background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
   background-color:#9dce2c;
   -webkit-border-top-left-radius:15px;
   -moz-border-radius-topleft:15px;
   border-top-left-radius:15px;
   -webkit-border-top-right-radius:15px;
   -moz-border-radius-topright:15px;
   border-top-right-radius:15px;
   -webkit-border-bottom-right-radius:15px;
   -moz-border-radius-bottomright:15px;
   border-bottom-right-radius:15px;
   -webkit-border-bottom-left-radius:15px;
   -moz-border-radius-bottomleft:15px;
   border-bottom-left-radius:15px;
   text-indent:0;
   border:1px solid #83c41a;
   display:inline-block;
   color:#ffffff;
   font-family:Arial;
   font-size:18px;
   font-weight:bold;
   font-style:normal;
   height:65px;
   line-height:65px;
   width:131px;
   text-decoration:none;
   text-align:center;
   text-shadow:1px 1px 0px #689324;
}
.pelmeni:hover {
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
   background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
   background-color:#8cb82b;
}